@import '../../assets/styles/_variables.sass'

.container
  width: 100%
  height: 20%
  display: flex
  gap: 50px

  @media screen and (max-width: 425px)
    height: 30%
    min-height: 25%

  &__box
    display: flex
    width: 20%
    flex-direction: column
    gap: 0.5rem

    &_label
      font-size: 14px
      font-family: $fontPoppinsBold
      letter-spacing: 3px
      color: $Smokey-grey

    &_input
      border-radius: 6px
      height: 50%
      min-height: 3.5rem
      width: 8rem
      border: 1px solid $Light-grey
      box-sizing: border-box
      text-indent: 12px
      font-family: Poppins-Extrabold, serif
      font-size: 22px

      @media screen and (max-width: 425px)
        width: 6rem

      @media screen and (max-width: 320px)
        width: 5rem

    &_input::placeholder
      color: $Light-grey
      font-family: $fontPoppinsBold
      font-size: 16px

    &_input:focus
      outline: $Smokey-grey solid 1px

    &_message
      color: $Light-red
      font-size: 12px
      font-family: $fontPoppinsItalic
